.htmlarea .toolbar{ background-color:#f8fdf8;
}
.htmlarea .toolbar .toolbarRow
{
  border:1px solid #DEDEDE;
  -moz-border-radius:3px;
}
.htmlarea .toolbar .toolbarRow .button
{
  background-image:url(button-background.png);
  border:1px solid #f8fdf8;
}
.htmlarea .toolbar .toolbarRow .separator {
  background-image:url(separator.gif);
  border:1px #f8fdf8;
  width:7px;
}
.htmlarea .toolbar .toolbarRow .buttonHover
{
  border-color:#fff #ccc #ccc #fff;
}
.htmlarea .toolbar .toolbarRow .buttonDisabled
{
  border-color:#f8fdf8;
}
.htmlarea .toolbar .toolbarRow .button.buttonActive,
.htmlarea .toolbar .toolbarRow .button.buttonPressed
{
  border:1px solid;
  border-color:#ccc #fff #fff #ccc;
}
.htmlarea .statusBar {
  border-color:#ccc #fff #fff #ccc;
  padding:0;
  height:20px;
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f8fdf8;
  color:ButtonText;
  font:11px helvetica,arial,sans-serif;
}
.htmlarea .statusBar .statusBarTree
{
  display:block;
  margin:3px;
}
.htmlarea .statusBar .statusBarTree a
{
  padding:2px 5px;
  color:#00f;
  text-decoration:none;
}
.htmlarea .panel h1
{
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#f8fdf8;
}
.dialog {
  background-color:#f8fdf8;
}
.dialog .title {
  background-image: url(button-background.png);
}  
.dialog button{
  background-image: url(button-background.png);
}