<div style="text-align:center; border:1px solid #CCC; width:100%; background-color:#EEEEEE;">
<table style="width:100%; display:table;">
<tr>
  <td>
    <a href="{{ site.github.url }}/Examples.html">Demo</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/DownloadXinha.html">Downloads</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/ReleaseNotes.html">Release Notes</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/Documentation.html">Documentation</a>
    <br/>
    <a href="{{ site.github.issues_url }}">Report Bug</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/FrequentlyAskedQuestions.html">FAQ</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/Screenshots.html">Screenshots</a>&nbsp;&nbsp;
    <a href="http://www.xinha.org/punbb/index.php">Forum Archive</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/Developers.html">Developers</a>&nbsp;&nbsp;
  </td>
</tr>
</table>
</div>
