<div div style="float:right;width:430px;padding:0;margin-right:20px">
<div style="text-align:center;border:1px solid #CCC; width:100%;margin-right:20px; background-color:#EEEEEE;">
<table style="width:430px"><tr>
  <td>
    <a href="/Examples.html">Demo</a>&nbsp;&nbsp;
    <a href="/DownloadXinha.html">Downloads</a>&nbsp;&nbsp;
    <a href="/ReleaseNotes.html">Release Notes</a>&nbsp;&nbsp;
    <a href="/Documentation.html">Documentation</a>
<br/>
    <a href="/Tickets.html">Report Bug</a>&nbsp;&nbsp;
    <a href="/FrequentlyAskedQuestions.html">FAQ</a>&nbsp;&nbsp;
    <a href="/Screenshots.html">Screenshots</a>&nbsp;&nbsp;
    <a href="http://www.xinha.org/punbb/index.php">Forum Archive</a>&nbsp;&nbsp;
    <a href="/Developers.html">Developers</a>&nbsp;&nbsp;
  </td>
</tr>
</table>
</div>
</div>