<div style="text-align:center; border:1px solid #CCC; width:100%; background-color:#EEEEEE;">
<table style="width:100%; display:table;">
<tr>
  <td>
		<a href="{{ site.github.url }}/index.html">Home</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/Examples.html">Demo</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/DownloadXinha.html">Downloads</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/ReleaseNotes.html">Release Notes</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/Documentation.html">Documentation</a>
    <br/>
    <a href="{{ site.github.issues_url }}">Report Bug</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/FrequentlyAskedQuestions.html">FAQ</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/Screenshots.html">Screenshots</a>&nbsp;&nbsp;
    <a href="http://www.xinha.org/punbb/index.php">Forum Archive</a>&nbsp;&nbsp;
    <a href="{{ site.github.url }}/trac/Developers.html">Developers</a>&nbsp;&nbsp;
  </td>
</tr>
</table>
</div>

<style type="text/css">
.main-content h1 code { font-size: 0.9em; }
</style>
