<div style="float:right;margin:10px 0 0 10px;border:1px solid #CCC; width:35%; background-color:#EEEEEE;font-size:smaller;">
	<h2 style="margin:0px;padding:3px; border-bottom:1px outset #CCC; ">Releases</h2>
	<ul>
	  <li>25th May 2021<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.6</a></li>
		<li>13th February 2021<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.5</a></li>
		<li>6th November 2019<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.4</a></li>
		<li>24th May 2018<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.3</a></li>
		<li>15th May 2018<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.2</a></li>
		<li>12th April 2018<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.1</a></li>
		<li>18th March 2018<br/><a href="{{ site.baseurl }}/trac/ReleaseNotes.html">Release 1.5.0</a></li>
	</ul>
</div>
