.htmlarea .toolbar { background-color:#f7f8fd;}

.htmlarea .toolbar .toolbarRow
{
  /*background-image: url(button-background.png);*/
  background-color: #C5DCEC;
  border:1px solid #DEDEDE;
  -moz-border-radius:5px;
  margin: 1px;
}
.htmlarea .toolbar .toolbarRow .container,
.htmlarea .toolbar .toolbarRow .label {
  background-image: url(button-background.png);
}

.htmlarea .toolbar .toolbarRow .button {
  background-image: url(button-background.png);
  padding: 1px;
  border: 0px;
}

.htmlarea .toolbar .toolbarRow .separator {
  background-image: url(separator.gif);
  padding: 1px;
  border: 0px;
  margin: 2px;
  width: 7px;
}

.htmlarea .toolbar .toolbarRow .buttonHover
{
  padding: 0px;
  border: 1px solid;
  border-color: #316AC5;
  background-image: none !important;
  background-color : #FFE1AC !important;
}

.htmlarea .toolbar .toolbarRow .buttonDisabled
{
  padding: 1px;
  border: 0px;
  border-color: #f7f8fd;
}

.htmlarea .toolbar .toolbarRow .button.buttonActive,
.htmlarea .toolbar .toolbarRow .button.buttonPressed
{
  padding: 0px;
  border: 1px solid;
  border-color: #79A4CC #FFFFFF #FFFFFF #79A4CC;
  background-image: none !important;
  background-color : #FFBE6D !important;
}

.htmlarea .statusBar {
  border-color: #CCC white white #CCC;
  padding: 0px;
  height:20px;
  background-image: url(button-background.png);
  background-repeat: repeat-x;
  background-color: #f7f8fd;
  color: ButtonText;
  font: 11px helvetica,arial,sans-serif;
}

.htmlarea .statusBar .statusBarTree
{
  display:block;
  margin: 3px;
}

.htmlarea .statusBar .statusBarTree a
{
  padding: 2px 5px;
  color: #00f;
  text-decoration:none;
}

.htmlarea .panel h1
{
  background-image: url('button-background.png');
  background-repeat: repeat-x;
  background-color: #f7f8fd;
}