.htmlarea .toolbar {
	background-color:#c3daf9;
  background-image:url(back.png);
  background-repeat:repeat-y;
}
.htmlarea .toolbar .toolbarRow {
  margin-top:2px;
  margin-bottom:2px;
  background-image:url(button-background.png);
}
.htmlarea .toolbar .toolbarRow .button {
  width:20px;
  height:20px;
  padding:1px;
  border:none;
  background-image:url(button-background.png);
}
.htmlarea .toolbar .toolbarRow .separator {
  background-image:url(separator.png);
  width:7px;
  height:20px;
  padding:0;
}
.htmlarea .toolbar .toolbarRow .buttonHover {
  background-image:url(hover.png);
  padding:0;
  border: 1px solid;  
  border-color: white #CCC #CCC white;
}
.htmlarea .toolbar .toolbarRow .button.buttonPressed
{
  border:1px solid #003355;
  padding:0;
  background-image:url(selected.png);
}
.htmlarea .statusBar {
  padding:0;
  height:20px;
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#c3daf9;
  color:ButtonText;
  font:11px helvetica,arial,sans-serif;
}
.htmlarea .statusBar .statusBarTree {
  display:block;
  margin:3px;
}
.htmlarea .statusBar .statusBarTree a {
  padding:2px 5px;
  color:#00f;
  text-decoration:none;
}
.htmlarea .panel h1 {
  background-image:url(button-background.png);
  background-repeat:repeat-x;
  background-color:#c3daf9;
}
.dialog {
  background-color:#c3daf9;
}
.dialog .title {
  background-image: url(button-background.png);
}  
.dialog button{
  background-image: url(button-background.png);
}